<p id="notice"><%= notice %></p>

<h1>Database Appraisal</h1>

<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>Alamat</th>
      <th>Luas Tanah(m2)</th>
      <th>Harga Tanah/m</th>
      <th>Luas Bangunan(m2)</th>
      <th>Harga Bangunan/m</th>
      <th>Nilai Taksasi</th>
      <th>Tanggal Appraisal</th>
      <th>Keterangan</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= link_to appraisal.address, appraisal %></td>
        <td><%= appraisal.land_wide %></td>
        <td><%= number_to_currency(appraisal.land_price.to_i, precision: 0, unit: "Rp ") %></td>
        <td><%= appraisal.building_wide %></td>
        <td><%= number_to_currency(appraisal.building_price.to_i, precision: 0, unit: "Rp ") %></td>
        <td>
          <% a = (appraisal.land_wide*appraisal.land_price.to_i)+(appraisal.building_wide*appraisal.building_price.to_i) %>
          <%= number_to_currency(a, precision: 0, unit: "Rp ") %></td>
        <td><%= appraisal.appraisal %></td>
        <td><%= appraisal.comment %></td>
        <td><%= link_to 'Edit', edit_appraisal_path(appraisal) %></td>
        <td><%= link_to 'Hapus', appraisal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Data Baru', new_appraisal_path, class: 'btn btn-primary' %>
