<p>
  <strong>Address:</strong>
  <%= @appraisal.address %>
</p>

<p>
  <strong>Land wide:</strong>
  <%= @appraisal.land_wide %>
</p>

<p>
  <strong>Land price:</strong>
  <%= @appraisal.land_price %>
</p>

<p>
  <strong>Building wide:</strong>
  <%= @appraisal.building_wide %>
</p>

<p>
  <strong>Building price:</strong>
  <%= @appraisal.building_price %>
</p>

<p>
  <strong>Appraisal:</strong>
  <%= @appraisal.appraisal %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @appraisal.comment %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
