    			    <% @billings.each do |billing| %>
    			      <tr>
			        
                  <td><%= link_to billing.number_park, billing %></td>
                  <td><%= billing.member.name %></td>
    			        <td><%= billing.time_in.strftime("%H:%M:%S")%></td>

    					    <% unless billing.time_out.nil? %>
    					    <% selisih_waktu = (Time.parse(billing.time_out.to_s) - Time.parse(billing.time_in.to_s))%>
    					    <td><%= billing.time_out.strftime("%H:%M:%S")%></td>
    			        <td><%=  selisih_waktu.to_i.pretty_duration    %></td>
    			        <td>Rp <%= number_with_precision(selisih_waktu/3600, precision: 2).to_i * 1000 %></td>
    					    <% else %>
    					    <td class="time"></td>
    					    <%# durasi = (Time.parse(Time.now.to_s) - Time.parse(billing.time_in.to_s))%>
    					    <td class= "counter" data-id="<%= billing.id %>"> <%#= render partial: 'shared/duration' %>  <%#= durasi.to_i.pretty_duration %></td>
    					    <td></td>
    					    <% end %>
                  <td><%= billing.expiration.strftime("%D")%></td>
				   
    			        <td>
                    <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, billing, method: :delete, data: { confirm: 'Are you sure?' } %>
                  		</td>
                      <td><%= link_to 'Stop', stop_billing_path(billing), remote: true, class: 'btn btn-danger', method: :patch if billing.time_out.nil? %></td>
    			      </tr>
    			    <% end %>