<div class="container">
	<h4>Billings <%= Time.now.strftime("%d %B %Y") %></h4>

	<table class="table table-bordered table-striped">
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Jam Masuk</th>
	      <th>Jam Keluar</th>
	      <th>Lama</th>
	      <th>Biaya</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @billings.each do |billing| %>
	      <tr>
	        <td><%= billing.user %></td>
	        <td><%= billing.time_in.strftime("%H:%M:%S")%></td>

			<% unless billing.time_out.nil? %>
			<% lama = ((billing.time_out - billing.time_in)/3600) %>
			<td><%= billing.time_out.strftime("%H:%M:%S")%></td>
	        <td><%= number_with_precision(lama, precision: 2) %></td>
	        <td>Rp <%= number_with_precision(lama, precision: 2).to_i * 1000 %></td>
			<% else %>
			<td></td>
			<td class="active"><div class="time"><%= number_with_precision((Time.now - billing.time_in) / 3600, precision: 2) %></div></td>
			<td></td>
			<% end %>

	        <td><%= link_to 'Stop', stop_billing_path(billing), class: 'btn btn-danger', method: :patch if billing.time_out.nil? %>
			</td>
	        <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_billing_path(billing) %></td>
	        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Billing', new_billing_path, class: 'btn' %>
    <%= link_to 'Portal', root_path, class: 'btn btn-default' %>
	
</div>
