<div class="row">
	<div class="col-md-12"><h3>Billing :  <%= Time.now.strftime("%d %B %Y") %></h3></div>
	
</div>

<div class="time-rect-container">
   <%= render :partial => 'shared/time_portion' %>
 </div>



<div class="row">
	<div class="col-md-12"><%= link_to 'New Billing', new_billing_path, class: 'btn' %>
    <%#= link_to 'Portal', root_path, class: 'btn btn-default' %>
    <%= form_tag billings_path, :method => 'get', :id => "search",class:'navbar-form navbar-right', role: 'search' do%>
    <div class="form-group">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Cari..' %>
      </div>
      <%= submit_tag "Cari", :comment => nil, class:'btn btn-success col-xs-offset-0 col-xs-2 col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-3' %>
    </div>    
    <% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
			  <thead>
			    <tr>
			      <th>Member</th>
			      <th>Jam Masuk</th>
			      <th>Jam Keluar</th>
			      <th>Lama</th>
			      <th>Biaya</th>
				  <th>Stop</th>
			      <th colspan="2">Option</th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @billings.each do |billing| %>
			      <tr>
			        <td><%= billing.member.name %></td>
			        <td><%= billing.time_in.strftime("%H:%M:%S")%></td>

					<% unless billing.time_out.nil? %>
					<% lama = (billing.time_out - billing.time_in) %>
					<td><%= billing.time_out.strftime("%H:%M:%S")%></td>
			        <td><%= lama  %></td>
			        <td>Rp <%= number_with_precision(lama, precision: 2).to_i * 1000 %></td>
					<% else %>
					<td></td>
					<td><%#= number_with_precision((Time.now - current_billings.first.time_in) / 3600, precision: 2, class:'time') %></td>
					<td></td>
					<% end %>

			        <td><% if billing.time_out.nil? %> 
						<div class="time"><%= link_to 'Stop', stop_billing_path(billing), class: 'btn btn-danger', method: :patch  %> </div>
				
						<% end %>
					</td>
					<td></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_billing_path(billing) %></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<br>
			<div class="panel-footer">
				<button id="angkat_portal", class="btn btn-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>  Angkat</button>
									<button id="turunkan_portal", class="btn btn-success"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>  Turunkan</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12"><center><%= paginate @billings %></center></div>
</div>
