<% if @billings.present? %>
<div class="row">
	<div class="col-md-12">
		<h3>Billing : <span class="time-rect-container"></span></h3>
	</div>	
</div>




<div class="row">
	<div class="col-md-12"><%= link_to '+ Buat Billing', new_billing_path, remote: true, class: 'btn' %>
    <%#= link_to 'Portal', root_path, class: 'btn btn-default' %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading"></div>
    			<table class="table table-hover table-striped">
    			  <thead>
    			    <tr>     
                <th>Parkir No</th>
                <th>Member</th>
    			      <th>Jam Masuk</th>
    			      <th>Jam Keluar</th>
    			      <th>Lama</th>
    			      <th>Biaya</th>
    				    <th>Masa Berlaku</th>
    			      <th colspan="2">Option</th>
    			    </tr>
    			  </thead>

    			  <tbody class="billing-index">
    			   <%= render "index" %>
    			  </tbody>
    			</table>
          <div id="billing-modal" class="modal fade"></div>
			<br>
			<div class="panel-footer">
				<button id="angkat_portal", class="btn btn-default"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>  Angkat</button>
									<button id="turunkan_portal", class="btn btn-success"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>  Turunkan</button>
                  <button id="ubah_warna", class="btn btn-primary"></button>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-12 col-md-12"><center><%= will_paginate @billings, renderer: BootstrapPagination::Rails %></center></div>
</div>


<% else %>
<div class="row">
	<div class="col-md-12">
		<h3>Billing Hari Ini Belum Ada, Silahkan Menunggu.. </h3>
	</div>	
</div>
<% end %>


<script = "text/javascript">  
  $(document).ready(function(){
    var portal_terangkat = <%= @portal_terangkat == 'true' ? 'true' : 'false' %> 
    if(portal_terangkat){
        window.setTimeout(function(){
          $.ajax({
            url: '<%= turunkan_portal_path %>';
          });
        }, 3000);
      }
  });
</script>
  
  