
<p>
  <strong>Member:</strong>
  <%= @billing.member.name %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @billing.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @billing.time_out %>
</p>

<p>
  <strong>Duration:</strong>
  <%#= @billing.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @billing.price %>
</p>

<p>
  <strong>Expired:</strong>
  <%= @billing.expiration %>
</p>

<%= link_to 'Edit', edit_billing_path(@billing), class:'btn btn-default' %> 
<%= link_to 'Kembali', billings_path, class:'btn btn-success' %>
