
<%#= render "parkir" %>
<h3>Harap Parkir Di Nomor <%= @billing.number_park %> </h3>   
  <p>
    <strong>Member:&nbsp;</strong>
    <%= @billing.member.name %>
  </p>

  <p>
    <strong>Waktu Masuk:&nbsp;</strong>
    <%= @billing.time_in.strftime("%H:%M:%S") %>
  </p>
  <ul class="errors"></ul>

<% url = "#{@billing.id}.pdf" %> 
<iframe id ="pdf_source" src="<%= url %>" style="width:700px;height:500px;"></iframe>

<script>
   var portal_terangkat = <%= @portal_terangkat == 'true' ? 'true' : 'false' %>;
   if(portal_terangkat){
       window.setTimeout(function(){
         $.ajax({
           url: '<%= turunkan_portal_path %>';
         });
       }, 3000);
    }
</script>

 