<div class="row">
	<div class="col-md-12"><h3>Laporan Harian</h3></div>
	
</div>

<div class="row">
	<div class="col-md-12"><%= link_to 'Laporan Baru', new_report_path, class: 'btn btn-default' %>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Kata Kunci">
      </div>
      <button type="submit" class="btn btn-primary">Cari</button>
    </form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
			  <thead>
			    <tr>
			      <th>Tanggal</th>
			      <th>Member</th>
			      <th>Waktu Masuk</th>
			      <th>Waktu Keluar</th>
			      <th>Lama Parkir</th>
			      <th>Harga</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @reports.each do |report| %>
			      <tr>
					  <td><%= report.date %></td>
			        <td><%= report.billing%></td>
			        <td><%= report.billing %></td>
			        <td><%= report.time_out %></td>
					<td><%= report.duration %></td>
					<td><%= report.price %></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_member_path(report) %></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<br>
		</div>
	</div>
</div>



