<div class="row">
	<div class="col-md-12"><h3>Laporan Harian</h3></div>
	
</div>

<div class="row">
	<div class="col-md-12"><%= link_to 'Laporan Baru', new_report_path, class: 'btn btn-default' %>
    <%= form_tag reports_path, :method => 'get', :id => "search",class:'navbar-form navbar-right', role: 'search' do%>
    <div class="form-group">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <%= text_field_tag :search, params[:search], class:'form-control', placeholder:'Cari..' %>
      </div>
      <%= submit_tag "Cari", :comment => nil, class:'btn btn-success col-xs-offset-0 col-xs-2 col-sm-offset-5 col-sm-3 col-md-offset-5 col-md-3' %>
    </div>    
    <% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading"></div>
			<table class="table table-hover table-striped">
			  <thead>
			    <tr>
			      <th>Tanggal</th>
			      <th>Billing</th>
				  <th>Member</th>
			      <th>Waktu Masuk</th>
			      <th>Waktu Keluar</th>
			      <th>Lama Parkir</th>
				  <th>Harga</th>
				  <th>Keterangan</th>
			      <th colspan="2"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <% @reports.each do |report| %>
			      <tr>
					  <td><%= report.date.strftime('%d - %m - %Y') %></td>
			        <td><%= report.billing_id%></td>
			        <td><%= report.member_id %></td>
					<td><%= report.time_in.strftime("%T") %></td>
			        <td><%= report.time_out.strftime("%T") if report.time_out  %></td>
					<td>
						<% selisih_waktu = (Time.parse(report.time_out.to_s) - Time.parse(report.time_in.to_s))%>
						<%=  selisih_waktu.to_i.pretty_duration    %>
					</td>
					<td>Rp <%= number_with_precision(selisih_waktu/3600, precision: 2).to_i * 1000 %></td>
					<td><%= report.comment %></td>
					<td><%= report.price %></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>'.html_safe, edit_member_path(report) %></td>
			        <td><%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Hapus"></span>'.html_safe, report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
			<br>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12"><center><%= paginate @reports %></center></div>
</div>



