<!DOCTYPE html>
<html>
<head>
  <title>Parkir Cerdas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=   stylesheet_link_tag 'print', :media => :print  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" %>
   <%= javascript_include_tag "https://js.pusher.com/2.2/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render 'shared/navigation' %>
<div class="container">	
  <% if flash[:notice] %>
    <div id="flash"><%= flash[:notice] %></div>
  <% end %>
	<%= yield %>
</div>


</body>
</html>
