<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
        <h4><%= @member.errors.count %> Kesalahan, Tidak Dapat Menyimpan Billing Yang Dibuat Karena:</h4>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nama" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Alamat" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone, "Kontak Telepon" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%#= f.label :barcode %><br>
    <%#= f.text_field :barcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
